/*
Madera City Council | Page Title CSS

Table of Contents

1.0  Global Selectors
2.0  Font Family
3.0  HTML Element Id's and Classes
4.0  Colors
5.0  Media Queries
*/

/* Import url for fontawesome to work */


/* ====================
   1.0 Global Selectors
   ==================== */

html, body, main, footer, p, h1, div, img, section{
    margin:0;
    padding:0;
    border:0;
}

body{
    text-align:center;
    box-sizing: border-box;
    font-size:0%;
    width:100%;
    height:auto;
    margin-top:12rem;
}

main{
    width:100%;
    height:30.5rem;
    background-color:#e6e8e7;
    font-size:2.5rem;
}

footer{
    width: 100%;
    height:12rem;
    font-size: 1rem;
}

a{
    text-decoration: none;
}

div{
    display: inline-block;
    width:100%;
}

.text_transform_none{
    text-transform: none;
}

.capitalize{
    text-transform: capitalize;
}

.uppercase{
    text-transform: uppercase;
}

.underline{
    text-decoration:underline;
}

.float_right{
    float:right;
}

.float_left{
    float:left;
}

.float_none{
    float:none;
}

.text_align_center{
    text-align: center;
}

.text_align_left{
    text-align: left;
}

.font_prompt{
    font-family: 'Prompt', sans-serif;
}

.color_purple{
    color:#b585ce;
}

.color_darkgrey{
    color:#666666;
}

.color_white{
    color:#ffffff;
}

.color_black{
    color:#000000;
}

.opacity_6:hover{
    opacity:.6;
}

.background_color_lightgrey{
    background-color:#e6e8e7;
}

.bold{
    font-family: bold;
}

.light-bold{
    font-family: light-bold;
}

.light{
    font-family: light;
}

.normal{
    font-family: normal;
}

.thin{
    font-family: thin;
}

/* =================================
   2.0 Font Family
   ================================= */

@font-face {
    font-family: 'bold';
    src: url('../fonts/bold.woff2');
}

@font-face {
    font-family: 'light-bold';
    src: url('../fonts/light-bold.woff2');
}

@font-face {
    font-family: 'light';
    src: url('../fonts/light.woff2');
}

@font-face {
    font-family: 'normal';
    src: url('../fonts/normal.woff2');
}

@font-face {
    font-family: 'thin';
    src: url('../fonts/thin.woff2');
}



/* =================================
   3.0 HTML Element Id's and Classes
   ================================= */
   
/* ====== Header navigation menu bar ====== */

#menu_bar{
    width:100%;
    height:6rem;
    font-size:2.5rem;
    background-color:#af97bb;
    font-family: sans-serif;
    position: fixed;
    top: 0;
    z-index: 1;
    left: 0;
    transition:.5s;
}

#hashtag_container{
    height:100%;
    width: 5rem;
}

#menu_icon_label{
    position:relative;
    top:30px;
    left:10px;
    transition: .5s;
}

#menu_icon_label:hover{
    cursor: pointer;
    opacity: .8;
}

#hashtag_icon{
    display:inline-block;
}

#x_icon{
    display:none;
    color:#ffffff;
    position: relative;
    top: -5px;
}

#menu_icon_input{
    display:none;
}

#dropdown_menu{
    display:none;
    width:100%;
    height:auto;
}

#menu_icon_input:checked + #dropdown_menu{
    display:block;
}

#title_icon_container{
    width:30%;
    color:#ffffff;
    height: 100%;
    position:relative;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 37px;
}

#city_of_madera_label{
    width:60%;
    position: absolute;
    top: 27%;
    left:0px;
}

#madera_icon_container{
    width: 22%;
    position: relative;
    top: 3%;
    left:158px;
    z-index: 2;
}

#light_seal{
    width:100%;
}

#bold_seal{
    width:100%;
    display: none;
}

#temperature_container{
    height:100%;
    width:8rem;
    color:#ffffff;
    font-size: 2rem;
}

#degree_circle{
    font-size:11px;
    position:relative;
    top: -20px;
    left: -6px;
}

#temperature{
    transition: .5s;
}

.temperature_position{
    position: relative;
    top: 30px;
    right: -5px;
}

/* Start of second menu section */

#second_menu_container{
    width: 100%;
    height: 6rem;
    position: fixed;
    top: 6rem;
    left:0;
    background-color:#ffffff;
    z-index: 1;
    transition:1s;
}

#second_menu{
    width: 60%;
    height: 100%;
    background-color: #beaac5;
    font-size: 1.2rem;
}

.main_menu_item{
    font-family: 'bold';
    width:25%;
    height:100%;
    float:left;
    background-color: #ffffff;
}

.main_menu_item:hover{
    background-color: #e6e8e7;
    height:95%;
    color:#000000;
}

.main_menu_item > p{
    position:relative;
    top:20px;
}

.main_menu_item > p:nth-child(2){
    position:relative;
    top:25px;
}

#residents_p_tag{
    position:relative;
    top:15px;
}

#fontawesome_1{
    font-size:25px;
}

#residents_item{
    position:relative;
    top:18px;
    transition: .5s;
}

#visitors_item{
    transition: .5s;
}

#business_item{
    position:relative;
    top:24px;
    transition: .5s;
}

#government_item{
    transition: .5s;
}

.display_on_hover{
    width:100%;
    height:5px;
    position:relative;
    bottom:-46px;
    background-color: #beaac5;
    display: none;
}

/* Start of hero section */

#hero_image_container{
    width:100%;
    position:relative;
    height:475px;
    background-image: url(../images/background-image.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#hero_text_container{
    position:absolute;
    top:5rem;
    left:0px;
    width:100%;
}

#hero_text{
    font-size:2rem;
    color:#ffffff;
}

#hero_text > p{
    font-size:2.5rem;
    width:59%;
    display: inline-block;
}

#learn_button{
    width: 25%;
    background-color: #af97bb;
    display: inline-block;
    font-size: 1.4rem;
    color: #f1f1f1;
    margin-top: 5rem;
    padding: 15px 0 15px 0;
    border-radius: 9px;
}

#learn_button:hover{
    background-color:#b585ce;
    color: #ffffff;
}

/* Start of Main section */

#most_popular_container{
    width:68%;
    height:100%;
    background-color:#af97bb;
    color:#ffffff;
    font-family: light;
    position:relative;
    top:-30px;
    float:left;
}

#most_popular_container > p{
    position:relative;
    top: 40px;
    left: 24px;
    width: 50%;
}

/* Arrow buttons */

#arrow_buttons_container{
    width: 150px;
    height: 50px;
    position: relative;
    left: 358px;
    top: -10px;
}

.arrow_buttons{
    border:2px solid #ffffff;
    color:#ffffff;
    width: 30%;
    height: 90%;
    float:left;
    border-radius:50%;
    transition-duration:.35s;
}

.arrow_buttons:hover{
    background-color:#ffffff;
    color:#666666;
}

#left_arrow_button{
    margin-right: 20px;
}

#left_arrow{
    font-size: 2rem;
    position: relative;
    top: -5px;
}

#right_arrow{
    font-size: 2rem;
    position: relative;
    top: -5px;
}

/* Slider container */

#overflow_container{
    height: 80%;
    width:100%;
    overflow: hidden;
    position: relative;
    top: -392px;
    left: px;
}

#slider_container{
    width:150%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 127px;
    overflow: hidden;
    transition:.5s;
}

.slides{
    width:325px;
    height:100%;
    background-color:#ffffff;
}

.popular_categories{
    font-family: light-bold;
    font-size: 1.5rem;
    width: 91%;
    display: inline-block;
    float: right;
    text-align: left;
    color: #b585ce;
    position: relative;
    top: 25px;
}

.slide_image_container{
    width:91%;
    height:auto;
    float:right;
    position:relative;
    top:60px;
}

.slide_image_container > img{
    width:100%;
}

.date_container{
    font-family: light-bold;
    width: 60px;
    height: 60px;
    font-size: 1.3rem;
    background-color: #b585ce;
    position: relative;
    top: -108px;
    float: left;
    color: #ffffff;
}

.date_container > p{
    position:relative;
    top:5px;
}

/* End of Main section */

/* Footer section */

#social_media_container{
    margin-top:1rem;
}

.footer_containers{
    width:27%;
    margin: 1.2rem 0 1.5rem 0;
    font-family: light;
    letter-spacing: 3px;
}

.fontawesome_containers{
    width:50%;
    float: left;
    position: relative;
    top: 8px;
}

#facebook_icon{
    font-size:2rem;
    position: relative;
    top: 5px;
}

#twitter_icon{
    font-size: 2rem;
    position: relative;
    top: 5px;
}

#footer_hr{
    color:#b585ce;
    height: 1px;
    width:80%;
    background-color: #b585ce;
}

/* ====================
   4.0 Colors
   ==================== */

/*

#af97bb = light purple
#b585ce = bold purple
#b585ce = purple
#e6e8e7 = lightgrey
#4e4d4d = darkgrey

*/

/* ====================
   5.0 Media Queries
   ==================== */

/* ====== Start of media queries for City of Madera city council template ====== */

/* ====== Media query max-width of 1140px ====== */

@media only screen and (max-width:1140px){
    
    
    #first_last_name_container > p {
        top: 20%;
        line-height: 4rem;
    }
    
}

@media only screen and (max-width:1120px){
    
    
    #first_last_name_container > p {
        top: 25%;
        line-height: 3rem;
    }
    
    #mayor_story {
        font-size: 1.5rem;
    }
    
    .more_info_about_mayor {
        font-size: 1.1rem;
    }
    
}

/* ====== Media query max-width of 921px, designed for Tablet size at 768px ====== */

/* This header media query max width at 921px will be use for all templates */

@media only screen and (max-width:921px){
    
    #hashtag_container{
        width:25rem;
    }
    
    #temperature_container{
        margin-right:1rem;
    }
    
}

@media only screen and (max-width:850px){
    
    
    #first_last_name_container > p {
        top: 30%;
        line-height: 2rem;
    }
    
    #mayor_story {
        font-size: 1.2rem;
    }
    
    .more_info_about_mayor {
        font-size: 1rem;
    }
    
}

/* ====== Media query for exact tablet size at 768px ======*/
 
@media only screen and (max-width:768px){
    
    
}

/* ====== Media query max-width of 721px, designed for Phone size at 320px ====== */

@media only screen and (max-width:721px){
    
    #temperature_container{
        width:3rem;
    }
    
}

@media only screen and (max-width:670px){
    
    
    
    #first_last_name_container > p {
        top: 25%;
        line-height: 1.5rem;
    }
    
    #mayor_story {
        font-size: 1rem;
    }
    
    .more_info_about_mayor {
        font-size: .7rem;
    }
    
}

@media only screen and (max-width:577px){
    
    #mayor_story {
    font-size: .8rem;
}
    
}

/* ====== Media query max-width of 529px ====== */

@media only screen and (max-width:529px){
    
    #hashtag_container {
        width: 22rem;
    }
    
    #menu_bar{
        font-size: 1.2rem;
        height:3.5rem;
    }
    
    #mayor_image_container {
        width: 100%;
        height: auto;
    }
    
    
    #first_last_name_container{
        width:50%;
        float:left;
    }
    
    #first_last_name_container > p {
        top: 0;
    }
    
    #first_last_name_container > p:nth-child(1) {
        padding-top:2rem;
    }
    
    #first_last_name_container > p:nth-child(2) {
        padding-bottom:2rem;
    }
    
    #extra_space{
        height:2rem;
    }
    
}

@media only screen and (max-width:433px){
    
    #menu_bar{
        font-size:1rem;
        height:3rem;
    }
    
    #hashtag_container{
        width:17rem;
    }
    
    #temperature_container{
        margin: 0;
    }
    
    #first_last_name_container > p:nth-child(1) {
        padding-top:1.8rem;
    }
    
    #first_last_name_container > p:nth-child(2) {
        padding-bottom:1.8rem;
    }
    
}

@media only screen and (max-width:338px){
    
    #temperature_container{
        width:1.7rem;
    }
    
    main{
        font-size:.7rem;
    }
    
    #first_last_name_container > p:nth-child(1) {
        padding-top:1.5rem;
    }
    
    #first_last_name_container > p:nth-child(2) {
        padding-bottom:1.5rem;
    }
    
}

@media only screen and (max-width:320px){
    
    #extra_space{
        height: 1rem;
    }    
    
    #about-mayor-first-and-last-name {
        width: 100%;
        height: 15rem;
    }
    
    #right-side{
        width:100%;
    }
    
    .about_mayor_height {
        height: 50px;
    }
    
    .width_90_percent{
        width:80%;
        position: relative;
        left: 10px;
    }
    
    .mayor_plus{
        display:inline-block;
        width:20%;
        float:right;
        margin-top: 1rem;
    }
    
}

/*  ====================================================================
    Media query for max width 317px is to hide the temperature container
    it was breaking too much as window size gets smaller this width
    ====================================================================*/

@media only screen and (max-width:317px){
    
    #hashtag_container {
        width: 10rem;
    }
    
    #menu_bar{
        font-size:.7rem;
    }
    
    
    
    #first_last_name_container > p{
        line-height: 1rem;
    }
    
    #first_last_name_container > p:nth-child(1) {
        padding-top:1.5rem;
    }
    
}

