/*

#b585ce = purple
#e6e8e7 = lightgrey

*/

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");


html, body, p, h1{
    margin:0;
    padding:0;
}

body{
    text-align:center;
    box-sizing: border-box;
    font-size:62.5%;
    width:100%;
    height:auto;
}

a{
    text-decoration: none;
}

div{
    display: inline-block
}

.uppercase{
    text-transform: uppercase;
}

.underline{
    text-decoration:underline;
}

.font_prompt{
    font-family: 'Prompt', sans-serif;
}

#menu_bar{
    width:100%;
    height:5rem;
    font-size:1.5rem;
    background-color:#e6e8e7;
    font-family: sans-serif;
}

.menu_bar_top{
    position:relative;
    top:1.5rem;
}

.float_right{
    float:right;
}

.float_left{
    float:left;
}

.text_align_left{
    text-align: left;
}

#city_of_madera_container{
    height:100%;
    width:40%;
}

#city_of_madera{
    float:left;
    height:100%;
    width:50%;
    background-color:#b585ce;
    color:#ffffff;
}

#triangle{
	width: 0;
	height: 0;
	float:left;
	border-top: 80px solid #b585ce;
	border-right: 80px solid transparent;
}

#degree {
    color: #ffffff;
    position: relative;
    top: 1.5rem;
    left:-30px;
}

#degree_icon{
    font-size:.5rem;
    position: relative;
    top: -10px;
    left: 1px;
}

#search_menu_container{
    height:100%;
    width:18rem;
    color:#b585ce;
    margin-right: 2rem;
}

.menu_bar_icon_container{
    height:2.5rem;
    width:2.5rem;
    color:#000000;
}

.icon_position_top{
    position:relative;
    top:5px;
}

#search{
    width:50%;
    height:auto;
}

#menu{
    width:40%;
    height:auto;
}

/****COMMENCE MAYOR IMAGE SECTION****/

main {
    position: relative;
    top: -2px;
}

/* === testing new hero section for better responsiveness === */

#hero_section{
    width:100%;
    height: auto;
    color: #b585ce;
}

#mayor_image_container{
    width:55%;
    height:auto;
}

#mayor_image_container > img{
    width:100%;
}

#mayor_first_last_container{
    width:45%;
    height: 34.4rem;
    overflow: hidden;
    font-size:5rem;
}

#new_mayor_title_container{
    width:100%;
    height:55%;
}

#new_mayor_title_container > p{
    position:relative;
    top:32%;
}

#first_last_name_container{
    width:100%;
    height:45%;
    background-color: #f2e6ff;
}

#first_last_name_container > p{
    position:relative;
    top:17%;
    line-height: 5rem;
}

.mayor_name{
    position:relative;
    top:30px;
    letter-spacing:-2px;
    height:30%;
}


/****CONCLUDE MAYOR IMAGE SECTION****/

/****SECTION BELOW THE MAYOR IMAGE****/

.color_purple{
    color:#b585ce;
}

.width_90_percent{
    width:90%;
    margin-top:1rem;
}

.underline{
    text-decoration:underline;
}

.about_mayor_height{
    height:250px;
}

#extra_space{
    width:100%;
    height:3rem;
}

#about-mayor{
    height:auto;
    width:100%;
}

#about-mayor-first-and-last-name{
    width:55%;
    float:left;
}

#mayor_story{
    font-size:1.8rem;
    width: 90%;
    display: inline-block;
}

.more_info_about_mayor{
    font-size:1.3rem;
}

#right-side{
    float:right;
    width:45%;
    color:#b585ce;
    background-color:#f2e6ff;
}
#right-side a{
    
     color:#b585ce;
     
}

/* ====== Media query max-width of 1140px ====== */

@media only screen and (max-width:1140px){
    
    #mayor_first_last_container{
        font-size:4rem;
    }
    
    #first_last_name_container > p {
        top: 20%;
        line-height: 4rem;
    }
    
}

@media only screen and (max-width:1120px){
    
    #mayor_first_last_container{
        font-size:3rem;
    }
    
    #first_last_name_container > p {
        top: 25%;
        line-height: 3rem;
    }
    
    #mayor_story {
        font-size: 1.5rem;
    }
    
    .more_info_about_mayor {
        font-size: 1.1rem;
    }
    
}


/* ====== Media query max-width of 921px, designed for Tablet size at 768px ====== */

@media only screen and (max-width:921px){
    
    #city_of_madera_container{
        width:25rem;
    }
    
    #city_of_madera{
        width:55%;
    }
    
    #search_menu_container{
        margin-right:1rem;
    }
    
    #degree{
        width:20%;
        font-size:1.3rem;
    }
    
}


@media only screen and (max-width:850px){
    
    #mayor_first_last_container{
        font-size:2rem;
    }
    
    #first_last_name_container > p {
        top: 30%;
        line-height: 2rem;
    }
    
    #mayor_story {
        font-size: 1.2rem;
    }
    
    .more_info_about_mayor {
        font-size: 1rem;
    }
    
}

/* ====== Media query for exact tablet size at 768px ======*/
 
@media only screen and (max-width:768px){
    
    #mayor_first_last_container{
        height: 306px;
    }
    
}

/* ====== Media query max-width of 721px, designed for Phone size at 320px ====== */

@media only screen and (max-width:721px){
    
    #search_menu_container{
        width:3rem;
    }
    /* ========= Removed from original layout =================
    #search{
        width:44%;
    }
    */
    #search_container{
        display:none;
    }
    
    #menu{
        width:44%;
        float:none;
    }
    
    #menu_container{
        display:none;
    }
    
}

@media only screen and (max-width:670px){
    
    #mayor_first_last_container{
        font-size:1.5rem;
    }
    
    #first_last_name_container > p {
        top: 25%;
        line-height: 1.5rem;
    }
    
    #mayor_story {
        font-size: 1rem;
    }
    
    .more_info_about_mayor {
        font-size: .7rem;
    }
    
}

@media only screen and (max-width:577px){
    
    #mayor_story {
    font-size: .8rem;
}
    
}

/* ====== Media query max-width of 529px ====== */

@media only screen and (max-width:529px){
    
    #city_of_madera_container {
        width: 22rem;
    }
    
    #triangle{
        width: 0;
        height: 0;
        float: left;
        border-top: 56px solid #b585ce;
        border-right: 56px solid transparent;
    }
    
    #menu_bar{
        font-size: 1.2rem;
        height:3.5rem;
    }
    
    .menu_bar_top {
        top: 1.1rem;
    }
    
    #degree{
        top: 1.1rem;
        font-size:1.2rem;
    }
    
    #mayor_image_container {
        width: 100%;
        height: auto;
    }
    
    #mayor_first_last_container {
        width: 100%;
        position: relative;
        top: -2px;
    }
    
    #new_mayor_title_container{
        width:50%;
        float:right;
        height:45%;
    }
    
    #new_mayor_title_container > p{
        top:0;
        padding-top:2rem;
        padding-bottom:2rem;
    }
    
    #first_last_name_container{
        width:50%;
        float:left;
    }
    
    #first_last_name_container > p {
        top: 0;
    }
    
    #first_last_name_container > p:nth-child(1) {
        padding-top:2rem;
    }
    
    #first_last_name_container > p:nth-child(2) {
        padding-bottom:2rem;
    }
    
    #extra_space{
        height:2rem;
    }
    
}

@media only screen and (max-width:433px){
    
    #menu_bar{
        font-size:1rem;
        height:3rem;
    }
    
    #city_of_madera_container{
        width:17rem;
    }
    
    #menu_bar_top{
        top:1rem;
    }
    
    #triangle{
        border-top: 48px solid #b585ce;
        border-right: 35px solid transparent;
    }
    
    #degree{
        font-size:1rem;
        top: 1rem;
        float:right;
    }
    
    #degree_icon{
        font-size:1px;
    }
    
    #search_menu_container{
        margin: 0;
    }
    
    .icon_position_top {
        top: 0px;
    }
    
    #new_mayor_title_container > p{
        padding-top:1.8rem;
        padding-bottom: 1.8rem;
    }
    
    #first_last_name_container > p:nth-child(1) {
        padding-top:1.8rem;
    }
    
    #first_last_name_container > p:nth-child(2) {
        padding-bottom:1.8rem;
    }
    
}

@media only screen and (max-width:338px){
    
    #degree{
        width:30%;
    }
    
    #search_menu_container{
        width:1.7rem;
    }
    
    #menu{
        width:60%;
        float:left;
    }
    .menu_bar_icon_container{
        width:1.5rem;
    }
    
    main{
        font-size:.7rem;
    }
    
    #page_title{
        font-size:2rem;
    }
    
    #line{
        width:100%;
    }
    
    #inside_link{
        width:100%;
    }
    
    #inside_link > div{
        width:100%;
        height:4rem;
    }
    
    .link_label{
        top:1.5rem;
    }
    
    .link_icon{
        top: 1.5rem;
        right: .5rem;
    }
    
    #outside_link{
        width:100%;
    }
    
    #outside_link > div{
        width:100%;
        height:4rem;
    }
    
    #mayor_first_last_container {
        font-size: 1.2rem;
    }
    
    #new_mayor_title_container > p{
        padding-top:1.5rem;
        padding-bottom: 1.5rem;
    }
    
    #first_last_name_container > p:nth-child(1) {
        padding-top:1.5rem;
    }
    
    #first_last_name_container > p:nth-child(2) {
        padding-bottom:1.5rem;
    }
    
}

@media only screen and (max-width:317px){
    
    #city_of_madera_container {
        width: 10rem;
    }
    
    #city_of_madera{
        width:70%;
    }
    
    #menu_bar{
        font-size:.7rem;
    }
    
    #degree{
        display:none;
    }
    
    #mayor_first_last_container {
        font-size: 1rem;
    }
    
    #new_mayor_title_container > p{
        padding-top:1.5rem;
    }
    
    #first_last_name_container > p{
        line-height: 1rem;
    }
    
    #first_last_name_container > p:nth-child(1) {
        padding-top:1.5rem;
    }
    
}

